<section class="homepage-container">

  <div class="left-container"></div>

  <div class="posts-container">
    <% @posts.each do |p| %>
        
        <article>

            <div class="post-card-header">
                
                <%= link_to profile_path(p.user.user_name) do %>
                    <% if p.user.profile_image.url %>
                        <%= image_tag p.user.profile_image.url, height:35, class:"my-img" %>
                    <% end %>
                <div class="post-card-header-text">
                    <div class="post-card-header-user_name"><%= p.user.user_name %></div>
                <% end %>
                    <span class="post-card-header-location">
                        <%= p.location %>
                    </span>
                </div>
            </div>

            <%= image_tag p.media.url, class:"post-card-image" %>

            <span class="post-card-likes-count">20,441 likes</span>

            <div>
                <%= link_to profile_path(p.user.user_name) do %>
                    <b><%= p.user.user_name %></b>
                <% end %>
                <span class="post-card-caption"><%= p.caption %></span>
            </div>

            <span class="post-card-time-duration"><%= "#{(time_ago_in_words p.created_at).to_s.upcase} AGO" %></span>

            <%= render "posts/comments", post: p %>

            <span class="post-card-dividing-line"></span>

            <div class="post-card-comment">
                <%= form_for @comment do |f| %>
                    <%= f.hidden_field :post_id, value: p.id %>
                    <%= f.text_field :comment_text, class:"post-card-comment-box", placeholder:"Add a comment..." %>
                    <%= f.submit "Post", class:"post-button" %>
                <% end %>
            </div>

        </article>

    <% end %>
  </div>

  <div class="sidebar-container">

    <div class="sidebar">
        
        <div class="sidebar-logged-in-user">
            <%= link_to profile_path(current_user.user_name) do %>
                <% if current_user.profile_image.url %>
                    <%= image_tag current_user.profile_image.url, height:50, class:"my-img" %>
                <% end %>
                <div class="sidebar-logged-user-username-fullname">
                    <p class="sidebar-logged-user-username">
                        <%= current_user.user_name %>
                    </p>
            <% end %>
                    <br>
                    <span class="sidebar-logged-user-full-name"><%= "#{current_user.first_name} #{current_user.last_name}" %></span>
                </div>
        </div>

        <div class="suggestions-list">
            <p>Suggestions for you</p>
            <% suggestions_count = 0 %>
            <% @users.each do |user| %>
                <div class="suggestions">
                <% if user != current_user %>
                    <div class="user-details">
                        <%= link_to profile_path(user.user_name) do %>
                            <% if user.profile_image.url %>
                                <%= image_tag user.profile_image.url, height:35, class:"my-img" %>
                            <% end %>
                            <p class="sidebar-logged-user-username">
                                <%= user.user_name %>
                            </p>
                        <% end %>
                    </div>
                    <button type="button" class="follow-button">Follow</button>
                <% end %>
                </div>
                <% if suggestions_count < 5 %>
                    <% suggestions_count +=1 %>
                <% else %>
                    <% break %>
                <% end %>
                
            <% end %>
    
        </div>
    </div>

    <div class="sidebar-footer">
        <ul>
            <li>About</li>
            <li>Help</li>
            <li>Press</li>
            <li>API</li>
            <li>Jobs</li>
            <li>Privacy</li>
        </ul>
        <ul>
            <li>Terms</li>
            <li>Locations</li>
            <li>Language</li>
        </ul>
        <p class="sidebar-footer-copyright-text">© 2022 INSTAGRAM FROM META</p>
    </div>

  </div>

  <div class="right-container"></div>
</section>