<div class="new-post-page-container">
<%= form_for @post do |f| %>
    <div class="new-post-container">
        <div class="new-post-item">
            <%= f.file_field :media %>
        </div>

        <div class="new-post-item">
            <%= f.label :caption %><br />
            <%= f.text_field :caption, class:"new-post-text-fields" %>
        <div class="new-post-item">

        <div class="new-post-item">
            <%= f.label :location %><br />
            <%= f.text_field :location, class:"new-post-text-fields" %>
        </div>
        
        <%= f.submit "Save Post", class:"btn btn-dark" %>
    </div>
<% end %> 
</div>
<%= render 'errors', post: @post %>