<section class="user-posts-container">
  <div class="profile-posts-container">
    <% @posts.each do |p| %>
        
        <% if p.user == @user %>
            <article>

                <div class="post-card-header">
                    <% if p.user.profile_image.url %>
                        <%= image_tag p.user.profile_image.url, height:30, class:"my-img" %>
                    <% end %>
                    <div class="post-card-header-text">
                        <b><%= p.user.user_name %></b><br />
                        <span class="post-card-header-location">
                            <%= p.location %>
                        </span>
                    </div>
                </div>

                <%= image_tag p.media.url, class:"post-card-image" %>

                <span class="post-card-likes-count">20,441 likes</span>

                <div>
                    <b><%= p.user.user_name %></b>
                    <span class="post-card-caption"><%= p.caption %></span>
                </div>

                <span class="post-card-time-duration"><%= "#{(time_ago_in_words p.created_at).to_s.upcase} AGO" %></span>

                <%= render "posts/comments", post: p %>

                <span class="post-card-dividing-line"></span>

                <div class="post-card-comment">
                    <%= form_for @comment do |f| %>
                        <%= f.hidden_field :post_id, value: p.id %>
                        <%= f.text_field :comment_text, class:"post-card-comment-box", placeholder:"Add a comment..." %>
                        <%= f.submit "Post", class:"post-button" %>
                    <% end %>
                </div>

            </article>
        <% end %>

    <% end %>
  </div>
</section>