<section class="user-posts-container">

  <div class="profile-page-header">
    <%= image_tag @user.profile_image.url, class:"profile-image" %>

    <div class="profile-details">

        <div class="header-username">
            <%= @user.user_name %>
        </div>

        <div class="header-profile-stats">
            <span class="header-profile-stat"><%= pluralize @post_count, "post" %></span>
            <span class="header-profile-stat"><b>0</b> followers</span>
            <span class="header-profile-stat"><b>0</b> following</span>
        </div>

        <div class="header-user-fullname">
            <%= "#{@user.first_name} #{@user.last_name}" %>
        </div>

        <div class="header-user-bio">
            <%= @user.bio %>
        </div>
    </div>
  </div>

  <div class="profile-page-separator-line"></div>

  <span><b>POSTS</b></span>

  <div class="profile-posts-container">

    <% @posts.each do |p| %>
        
        <% if p.user == @user %>
            <article>

                <%= image_tag p.media.url, class:"post-card-image" %>

                <span class="post-card-header-location">
                            <%= p.location %>
                </span>

                <div>
                    <span class="post-card-caption profile-page-post-card-caption"><%= p.caption %></span>
                </div>

                <span class="post-card-time-duration"><%= "#{(time_ago_in_words p.created_at).to_s.upcase} AGO" %></span>

                <%= render "posts/comments", post: p %>

                <span class="post-card-dividing-line"></span>

                <div class="post-card-comment">
                    <%= form_for @comment do |f| %>
                        <%= f.hidden_field :post_id, value: p.id %>
                        <%= f.text_field :comment_text, class:"post-card-comment-box", placeholder:"Add a comment..." %>
                        <%= f.submit "Post", class:"post-button" %>
                    <% end %>
                </div>

            </article>
        <% end %>

    <% end %>
  </div>
</section>